<template name="adminDashboard">
    <style>
        .menu-placeholder {
            background-color: rgba(35, 35, 35, 0.3);
            height: 20vh;
            width: 20vw;
        }
    </style>
    <div class="ui centered huge header">Womik Admin Backend</div>
    <div class="ui grid center aligned">
        <div class="four wide column">
            <h3>Noch nicht freigeschaltete Events</h3>
            <div class="menu-placeholder">
            </div>
        </div>
        <div class="four wide column">
            <h3>Noch nicht freigeschaltete Events</h3>
            <div class="menu-placeholder">
            </div>
        </div>
        <div class="four wide column">
            <h3>Events</h3>
            <div class="menu-placeholder">
            </div>
        </div>
        <div class="four wide column">
            <h3>Alle Events</h3>
            <div class="menu-placeholder">
            </div>
        </div>
        <div class="four wide column">
            <h3>Events</h3>
            <div class="menu-placeholder">
            </div>
        </div>
        <div class="four wide column">
            <h3>Events</h3>
            <div class="menu-placeholder">
            </div>
        </div>
        <div class="four wide column">
            <h3>Events</h3>
            <div class="menu-placeholder">
            </div>
        </div>
        <div class="four wide column">
            <h3>Events</h3>
            <div class="menu-placeholder">
            </div>
        </div>
        <div class="four wide column">
            <h3>Events</h3>
            <div class="menu-placeholder"></div>
        </div>
        <div class="four wide column">
            <h3>Events</h3>
            <div class="menu-placeholder"></div>
        </div>
        <div class="four wide column">
            <h3>Events</h3>
            <div class="menu-placeholder"></div>
        </div>
        <div class="four wide column">
            <h3>Events</h3>
            <div class="menu-placeholder"></div>
        </div>
    </div>
</template>